.quote {
    background-color: #f7f7f7;
    border-left: 4px solid #333;
    padding: 10px 20px;
    margin: 20px 0;
    width: 800px;
    margin: auto;
  }
  
  .quote p {
    font-size: 18px;
    font-style: italic;
    color: #555;
    margin: 0;
  }
  
  .quote cite {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-style: normal;
    color: #777;
  }
  